<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid" >
      <a class="navbar-brand" href="#">Carousel</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <ng-container *ngIf="accountservice.currentUser$ | async" >
          <li class="nav-item">
            <a class="nav-link "  routerLink="/lists" routerLinkActive="active">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/members" routerLinkActive="active" >Matchs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/messages" routerLinkActive="active">Messages</a>
          </li>
        </ng-container>
        </ul>
       

        <form #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" role="search" *ngIf="(accountservice.currentUser$ | async) === null" autocomplete="off">
          <input 
          name="username"
          [(ngModel)]='model.username'
           class="form-control me-2" type="text" placeholder="User" style="margin-right:8px ;">
          <input
          name="password"
          [(ngModel)]='model.password'
           class="form-control me-2" type="password" placeholder="Password" style="margin-right:8px ;">
          <button class="btn btn-success"  type="submit">Login</button>
        </form>
        <div ngbDropdown class="d-inline-block" *ngIf="(accountservice.currentUser$ | async) as user">
            <button type="button" style="color: white !important  ;" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Welcome {{user.userName}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>EditProfile</button>
              <button ngbDropdownItem (click)="logout()">LogOut</button>
             
            </div>
            </div>
       </div>


  </nav>